/* 
.mainheading {
    display: flex; 
    justify-content: left; 
    align-items: left; 
}
 


   @media screen and (max-width: 768px) {
    .mainheading{
      flex-direction: column;
      align-items: center;
    }

    #heading {
      text-align: center;
    }
   }


   .nav-ho{
    background-color: whitesmoke;
    height: 80px;
    display: flex;
   }
   .headee{
    color: black;
   }

   #logo{
    border-radius: 25px;
    margin-left: 7px
   }

   #h1{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 341px;
    margin-top: 13px;
    color: white;
   }



   .element {
    margin: 10px;
   }

   .element {
    padding: 10px;
   }
   
    */
/* Navbar.css */
.navbar {
  background-color: #333; /* Change this to your desired background color */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.button-container {
  display: flex;
}

.button {
  background-color: #007bff; /* Change this to your desired button color */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.button:hover {
  background-color: #0056b3; /* Change this to the hover color */
}
